ELK_VERSION="7.10.2"

# CTFd Parameters
CTFD_SECRET_KEY={{ lookup('community.general.lastpass', 'ctf_ctfd_secret_key-do', field='password') }}

# MariaDB (MySQL Server Parameters)
MYSQL_DATABASE_URL=mysql+pymysql://{{ lookup('community.general.lastpass', 'ctf_mysql_account-do', field='username') }}:{{ lookup('community.general.lastpass', 'ctf_mysql_account-do', field='password') }}@db/ctfd
MYSQL_ROOT_PASSWORD={{ lookup('community.general.lastpass', 'ctf_mysql_root_pass-do', field='password') }}
MYSQL_USER={{ lookup('community.general.lastpass', 'ctf_mysql_account-do', field='username') }}
MYSQL_PASSWORD={{ lookup('community.general.lastpass', 'ctf_mysql_account-do', field='password') }}
MYSQL_DATABASE=ctfd


