
html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  background:url(../cover.jpg) no-repeat center center fixed;
  background-size:cover;
}


body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header,
.marketing,
.footer {
 margin: 3%;
}


.header {
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow {
  width: 700px;
  background-color: white;
  margin: 2%;
  font-size: 16px;
}
.container-narrow > hr {
  margin: 30px 0;
}


.jumbotron {
  border-bottom: solid #ffe5e5;
}
.jumbotron .btn {
  font-size: 18px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
   margin: 2.5%;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.jumbotron {
  padding: 10px;
}

.jumbotron .lead {
 font-size: 14px;
 font-weight: bold;
}



.response {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 0;
  line-height: 1;
  background-color: aliceblue;
}
.response p,td{
 color: black !important;
 font-size: 14px;
}

.searchheader {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 0;
  line-height: 1;
  color: inherit;
  background-color: #AAAA1A;
}


.jumbotron h1 {
  line-height: 1;
  color: inherit;
}

.jumbotron p {
  line-height: 1.4;
}


@media screen and (min-width: 768px) {
  .jumbotron {
    padding: 10px 10px;
    border-radius: 2px;
  }
  
  .response {
    padding: 10px 10px;
    border-radius: 2px;
  }
  
  .searchheader {
    padding: 10px 10px;
    border-radius: 2px;
  }
}
